@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #773efb, #0079ff, #009eff, #00bcff, #06d4ff);
    color: aliceblue;
}

main {
    
    /* width: 95%; */
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1d1d;
    border-radius: 8px;
}

#logo {
    float: left;
    color: rgb(255, 255, 255);
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo-image {
    margin-top: 5px;
    margin-left: 5px;
    width: 3.5vmin;
    height: 3.5vmin;
}

#menu {
    width: 400px;
    float: right;
}

header {
    overflow: hidden;
}

#slide {
    height: 200px;
}

#content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.subcontent {
    background-color: rgb(88, 88, 88);
    float: left;
    margin: 10px;
    width: 280px;
    height: 340px;
    margin-top: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(205, 207, 207);
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 5px;
    margin-left: 10px;
    list-style-type: none;
    text-transform: uppercase;
}